#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: Garamond, serif;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  #navbar a.active {
    background-color: #ddd;
    color: black;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .imgbox {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.center{
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 1.5% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonblue{
  background-color: white;
  color: black;
  border: 3px solid #0066cc;
}

.buttonblue:hover{
  color: white;
  background-color: #0066cc;
}

.buttonorange{
  background-color: white;
  color: black;
  border: 3px solid #ffa500;
}

.buttonorange:hover{
  background-color: #ffa500;
}

aside{
  width: 30%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1.1vw;
  float: right;
  background-color: lightgray;
  font-family: 'Brush Script MT', cursive;
}

header{
  padding: 1%;
  text-align: left;
  background: black;
  color: white;
  font-size: 3vw;
}

.sidenav {
  width: 8%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 13%;
  padding-left: 2%;
  height: 50%;
  
}

.sidenav a {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 24px;
  color: #ddd;
  display: block;
  font-family: Garamond, serif;
}

.sidenav a:hover {
  color: white;
}

.main {
  margin-left: 12%; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.mainpage{
  margin-left: 12%;
  margin-right: 12%;
}

.pagetext{
  font-size: 1.3vw;
  margin-left: 20%;
  margin-right: 20%;
}

footer{
  padding-top: 3vw;
  padding-bottom: 3vw;
  background-color: #333;
  color: white;
}

.centered{
  position: absolute;
  font-size: 4vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner{
  position: relative;
  text-align: center;
  color: white;
}

.title{
  text-align: center; 
  font-size: 3vw;
  color: #5da3d6;
}

hr{
  width: 3%;
  margin:0 auto;
}

table{
  border-collapse: collapse;
}

tr{
  padding-top: 3vw;
  padding-bottom: 3vw;
  text-align: left;
  border-bottom: 1px solid #bcbcbc;
}

th{
  padding-bottom: 3vw;
  padding-top: 3vw;
  text-align: left;
}

.profile{
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  font-size: 1.3vw;
}

.brname{
  display: block;
  margin-bottom: 1.5vw;
}

.parabreak{
  display: block;
  margin-bottom: 1vw;
}

h3{
  font-size: 1.7vw;
}

.circlepic{
  width: 75%;
  position: center;
}

.readMoreBtn{
  border: none;
  color: #5da3d6;
  background-color: transparent;
  cursor: pointer;
}

.readMoreBtn:hover{
  color: white;
  background-color: #5da3d6;
}

.hide{
  display: none;
}

.leftdescription{
  width: 30%;
  margin-right: 3% 3% 3% 0%;
  text-align: center;
}

.rightdescription{
  width: 30%;
  margin-left: 3% 0% 3% 3%;
  text-align: center;
}

.middledescription{
  width: 30%;
  margin-left: 3% 1.5% 3%;
  text-align: center;
}
